ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-decoration: none;

}
.link{
    text-decoration: none;
    color: black;
}
li{
    list-style: none;
}